.blog-post-card {border-radius: 10px;
    background-color: white;
    width: 50%;
    text-align: center;
    }
    
    .post-content {
      padding: 15px;
      width: 80%; /* Match the image width */
    margin: 0 auto; /* Center-align the content */
    }
    
    .read-more:hover {
      background-color: red;
    }
    
    .read-more { background-color: #ffff11;
      margin-top: 25px;
        display: inline-block;
    border-radius: 10px;
    padding: 20px;
    transition: background-color 0.3s; /* Smooth transition */
    }
    
    .post-img {
      width: 80%;
      border-bottom: 2px dotted red;
    }
    
    .post-title {
    margin: 5px;
    font-family: Arial, sans-serif;
    color: rgb(17, 0, 128);
    }
    
    .post-excerpt {
    margin-top: 25px ;
    margin-bottom: 60px;
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;

    }